<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>rest-api</display-name>
	<servlet>
		<display-name>ApiServiceServlet</display-name>
		<servlet-name>ApiServiceServlet</servlet-name>
		<servlet-class>cl.gob.minsegpres.pisee.rest.api.servlet.ApiServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApiServiceServlet</servlet-name>
		<url-pattern>/ApiServiceServlet</url-pattern>
	</servlet-mapping>
</web-app>
